@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.clearfix:after {
    content: "";
    display: block;
    clear: both; 
}

.inner {
    margin: 0 auto;
    width: 1400px;
}

body {
    padding-top: 78px;
}

/*-------------------------------------*/

#hdr_wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 78px;
    background-color: #393939;
    transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	
    z-index: 99;
}

#hdr_wrap.hdrup {
    top: -78px;
}

#hdr_inner {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.hdr_logo {
    float: left;
}

.hdr_logo img {
    float: left;
    width: 110px;
    margin-top: 12px;

}

#hdr_inner ul.clearfix {
    float: right;
    width: 600px;
    position: relative;
}

#hdr_inner ul.clearfix li.menu_main {
    float: left;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 14px;
    font: normal 14px/78px 'Noto Sans KR';
    position: relative;
}

#hdr_inner ul.clearfix li.free {
    color: #3cb1ff;
    float: left;
    width: 100px;
    text-align: center;
    font: normal 14px/78px 'Noto Sans KR';
}

#hdr_inner ul.clearfix li.menu_main:hover {
    color: #3cb1ff;
    font-weight: bold;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#hdr_inner ul.clearfix li.free:hover {
    color: #D9D9D9;

    font-weight: bold;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu_bg {
    background-color: rgba(60, 177, 255, 1);
    width: 100px;
    height: 200px;
    position: absolute;
    z-index: 100;
    top: 70px;
    border-radius: 5px;
}

ul.menu_list {
    position: absolute;
}

ul.menu_list li {
    font: 200 12px/45px 'Noto Sans KR';
    height: 45px;
    color: white;
    z-index: 101;
    text-align: center;
}

ul.menu_list li:hover {
    color: white;

    font-weight: 600;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.search_bar {
    width: 518px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    position: relative;
    top: 5px;
    left: 0px;
}
.search_bar input{
	background: transparent;
	height: 30px;
    width: 450px;
	border: none;
	color: white;
}
.search_bar div {
    height: 30px;
    width: 493px;
    position: absolute;
    margin-top: 20px;
    border-bottom: solid 2px #3cb1ff;
    z-index: 1;
    left: -493px;
    cursor: pointer;

}

.search_bar img.click {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 18px;
    cursor: pointer;
}

/*visual_wrap*/
#visual_wrap {
    height: 1080px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#visual_inner {
    height: 100%;
    width: 1400px;

}

#visual_txt {
    width: 584px;
    height: 200px;
    margin: 0 auto;
    color: black;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
    opacity: 0;

}

#visual_txt h2 {
    font: normal 100px 'Noto Serif';
    position: relative;
}

#visual_txt p {
    font: normal 20px 'Noto Sans KR';
    margin-left: 130px;
}

#visual_txt h2::after {
    width: 118px;
    height: 2px;
    background-color: black;
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;

}

#visual_inner ul {
    width: 100%;
    height: 100%;
    position: relative;
}

#visual_inner ul li {
    float: left;
}



/*visual_img*/
.visual_img .img_size {
    height: 100%;
    width: 100%;

}

.visual_img .img01 {
    width: 555px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    top: 575px;
    left: -700px;
    z-index: 1;
    opacity: 0;
    -webkit-animation: img_ani01 4s;
    -o-animation: img_ani01 4s;
    animation: img_ani01 4s ;
    -webkit-animation-iteration-count:infinite ;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes img_ani01 {
    0% {
        top: 520px;
    }

    50% {
        top: 500px;
    }

    100% {
        top: 520px;
    }
}

.visual_img .img02 {
    width: 497px;
    height: 745px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: -180px;
    opacity: 0;
    -webkit-animation: img_ani02 4st;
    -o-animation: img_ani02 4s;
    animation: img_ani02 4s ;
    -webkit-animation-iteration-count:infinite ;
    -o-animation-iteration-count:infinite ;
    animation-iteration-count: infinite ;
    box-shadow: 0px 0px 40px #d9d9d9;
}

@keyframes img_ani02 {
    0% {
        top: 74px;
    }

    50% {
        top: 90px;
    }

    100% {
        top: 74px;
    }
}

.visual_img .img03 {
    width: 452px;
    height: 631px;
    overflow: hidden;
    position: absolute;
    top: 350px;
    left: 300px;
    opacity: 0;
    -webkit-animation: img_ani03 4s;
    -o-animation:img_ani03 4s;
    animation: img_ani03 4s ;
    -webkit-animation-iteration-count:infinite ;
    -o-animation-iteration-count:infinite ;
    animation-iteration-count: infinite ;
    box-shadow: 0px 0px 40px #d9d9d9;
}

@keyframes img_ani03 {
    0% {
        top: 310px;
    }

    50% {
        top: 300px;
    }

    100% {
        top: 310px;
    }
}

.visual_img .img04 {
    width: 326px;
    height: 489px;
    overflow: hidden;
    position: absolute;
    top: 360px;
    left: 817px;
    opacity: 0;
    -webkit-animation: img_ani04 4s;
    -o-animation: img_ani04 4s;
    animation: img_ani04 4s ;
    -webkit-animation-iteration-count:infinite ;
    -o-animation-iteration-count:infinite ;
    animation-iteration-count: infinite ;
}

@keyframes img_ani04 {
    0% {
        top: 400px;
    }

    50% {
        top: 410px;
    }

    100% {
        top: 400px;
    }
}

.visual_img .img05 {
    width: 452px;
    height: 679px;
    overflow: hidden;
    position: absolute;
    top: 90px;
    right: -200px;
    opacity: 0;
     -webkit-animation: img_ani05 4s;
    -o-animation: img_ani05 4s;
    animation: img_ani05 4s ;
    -webkit-animation-iteration-count:infinite ;
    -o-animation-iteration-count:infinite ;
    animation-iteration-count: infinite ;
    box-shadow: 0px 0px 40px #d9d9d9;

}

@keyframes img_ani05 {
    0% {
        top: 50px;
    }

    50% {
        top: 40px;
    }

    100% {
        top: 50px;
    }
}

.visual_img .img06 {
    width: 504px;
    height: 336px;
    overflow: hidden;
    position: absolute;
    top: 630px;
    right: -684px;
    opacity: 0;
     -webkit-animation: img_ani06 4s;
    -o-animation: img_ani06 4s;
    animation: img_ani06 4s ;
    -webkit-animation-iteration-count:infinite ;
    -o-animation-iteration-count:infinite ;
    animation-iteration-count: infinite ;
}

@keyframes img_ani06 {
    0% {
        top: 580px;
    }

    50% {
        top: 560px;
    }

    100% {
        top: 580px;
    }
}

#list_wrap {
    height: 5500px;
    width: 100%;
    overflow: hidden;
}

#list_inner {
    height: 100%;
    margin: 0 auto;
}

#list_txt {
    width: 420px;
    height: 164px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 100px;
}

#list_txt h2.tit {
    font: normal 100px 'Noto Serif';
    color: black;
    width: 420px;
    height: 100%;
    text-align: center;
}

#list_txt ul {
    width: 100%;
    height: 34px;
}

#list_txt ul li {
    float: left;
    margin: 10px 15px 15px;
    font: normal 16px/18px 'Noto Sans KR';
    padding-bottom: 5px;
}

#list_txt ul li:hover {
    color: #3cb1ff;
    border-bottom: solid 1px #3cb1ff;
    box-sizing: border-box;
    font-weight: bold;
}

#list_txt ul li.select{
    color: #3cb1ff;
    border-bottom: solid 1px #3cb1ff;
    box-sizing: border-box;
    -webkit-transition-duration:  0.3s;
    -o-transition-duration:  0.3s;
    transition-duration:  0.3s;
    font-weight: bold;
}

#list_con {
    height: 4730px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

/*clicklist---------------------------------------------*/
/*

#clicklist{
    width: 100%;
    height: 800px;
	background-color: black;
	opacity: 0.7;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
}
#clicklist a{
	width: 100%;
	height: 100%;
	display: block;
	color: white;
	position: relative;
	
}

#clicklist a i{
	position: relative;
	font-size: 30px;
	top: 10px;
	left: 10px;
	margin-right: 10px;
	
	
}

#clicklist a .moreartist{
	width: 200px;
	height: 50px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	font: normal 16px/50px "verdana";
	border: solid 1px #fff;
	transform: translateX(-50%);
	-webkit-transform:  translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform:  translateX(-50%);
	box-sizing: border-box;
	
}
#clicklist a .moreartist:hover{
	background-color: #fff;
	color: black
}
*/
/*list 01----------------------------------------------------*/

a.moreworks{
	display: block;
    width: 220px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
	float: left;
    text-align: center;
    font: normal 22px/60px 'Noto Serif';
	margin-right: 20px;
}









#list_01 {
    height: 900px;
    width: 100%;
    left: 420px;
    background-image: url(../img/list_01bg.png);
    background-position: left;
    -webkit-background-size: cover;
    background-size: cover ;
}

#list_01 .img_box {
    width: 584x;
    height: 800px;
    overflow: hidden;
    float: left;
	position: relative;
	top: 50px;
	opacity: 0;
}

#list_01 .img_box img {
    width: 584px;
    height: 800px;
}

#list_01 .right_01 {
    width: 600px;
    height: 800px;
    margin-left: 200px;
    float: left;
	position: relative;
	top: 50px;
   overflow: hidden;
	opacity: 0;
}

.right_01 .txt_01 {
    width: 616px;
    height: 300px;
	padding-top: 80px;

}

.right_01 .txt_01 p {
    font: normal 30px 'Noto Serif';
    color: black;
    margin-bottom: 15px;
}

.right_01 .txt_01 h3 {
    font: bold 80px 'Noto Serif';
    color: black;
    margin-bottom: 20px;
}

.right_01 .txt_01 a.requst {
    display: block;
    width: 220px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font: normal 22px/60px 'Noto Serif';
	float: left;
	margin-right: 20px;
}
.list_01{
    height: 500px;
    width: 1800px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.list_01 div{
    height: 350px;
    width: 300px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}
div.over{
    background-color: black;
    position: absolute;
    z-index: 4;
    opacity: 0;
    width: 100%;
    height: 100%;
    
}
div.over i{
    width: 100%;
    position: absolute;
    font-size: 40px;
    cursor: pointer; 
    right: -220px;
    bottom: 40px;
}
div.over i:hover{
    color: white;
}
.list_01 div img{
    position: absolute;
    width: 300px;
    bottom: 0px;
}
.list_01 div.num1 img{
    transform: scale(3);
    bottom: 80px;
}
.list_01 div.num4 img{
    transform: scale(3);
    bottom: 80px;
}
/*그림영역*/
#list_02 {
    height: 1100px;
    width: 100%;
    right: 420px;
    background-image: url(../img/list_02bg.png);
    background-position: right;
    -webkit-background-size:cover ;
    background-size: cover ;
    padding-top: 130px;
    margin-top: 200px;
}

#list_02 .img_box {
    width: 584px;
    height: 800px;
    float: right;
    position: relative;
	overflow: hidden;
	top: 50px;
	opacity: 0;
}

/*호버영역*/


#list_02 .left_02{
    width: 600px;
    height: 800px;
	position: relative;
	top: 50px;
    left: 0px;
	opacity: 0;
    overflow: hidden;
}

.left_02 .txt_02 {
    width: 616px;
    height: 300px;
    position: relative;
    left: -16px;
	padding-top: 80px;
}

.left_02 .txt_02 p {
    font: normal 30px "Californian FB";
    color: black;
    margin-bottom: 15px;
    text-align: right;
}

.left_02 .txt_02 h3 {
    font: bold 80px 'Noto Serif';
    color: black;
    margin-bottom: 20px;
    text-align: right;
}

.left_02 .txt_02 a {
    display: block;
    width: 220px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font: normal 22px/60px 'Noto Serif';
    float: right;
	
}

.list_02{
    height: 500px;
    width: 1800px;
    display: flex;
    align-items: flex-end;
    position: relative;
    left: -1180px;
    
}
.list_02 div{
    height: 350px;
    width: 300px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.list_02 div img{
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: scale(2);
    bottom: 80px;
}

/*그림영역*/
#list_02 {
    height: 1100px;
    width: 100%;
    right: 420px;
    background-image: url(../img/list_02bg.png);
    background-position: right;
    -webkit-background-size:cover ;
    background-size: cover ;
    padding-top: 130px;
    margin-top: 200px;
}

#list_02 .img_box {
    width: 584px;
    height: 800px;
    float: right;
    position: relative;
	overflow: hidden;
	top: 50px;
	opacity: 0;
}

/*list03*/
#list_03 {

    padding-top: 130px;
    margin-top: 200px;
    height: 1100px;
    width: 100%;
    left: 420px;
    background-image: url(../img/list_03bg.png);
    background-position: left;
    -webkit-background-size: cover;
    background-size: cover ;
}


#list_03 .img_box {
    width: 584x;
    height: 800px;
    overflow: hidden;
    float: left;
	position: relative;
	top: 50px;
	opacity: 0;
}

#list_03 .img_box img {
    width: 584px;
    height: 800px;
}

#list_03 .right_03 {
    float: left;
    width: 600px;
    height: 800px;
    margin-left: 200px;
    position: relative;
    overflow: hidden;
}

.right_03 .txt_03 {
    width: 616px;
    height: 300px;
    padding-top: 80px;
}

.right_03 .txt_03 p {
    font: normal 30px 'Noto Serif';
    color: black;
    margin-bottom: 15px;
}

.right_03 .txt_03 h3 {
    font: bold 80px 'Noto Serif';
    color: black;
    margin-bottom: 20px;
}

.right_03 .txt_03 a {
    display: block;
    width: 220px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font: normal 22px/60px 'Noto Serif';
	float: left;
	margin-right: 20px;
}

.list_03{
    height: 480px;
    width: 1800px;
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 0px;
}
.list_03 div{
    height: 350px;
    width: 300px;
    bottom: 0px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.list_03 div img{
    position: absolute;
    width: 100%;
    bottom: 0px;
}


/*list_04*/


#list_04 {
    height: 1100px;
    width: 100%;
    right: 420px;
    background-image: url(../img/list_04bg.png);
    background-position: right;
    -webkit-background-size:cover ;
    background-size: cover ;
    padding-top: 130px;
    margin-top: 200px;
}

#list_04 .img_box {
    width: 584x;
    height: 800px;
    overflow: hidden;
    float: right;
	position: relative;
	top: 50px;
	opacity: 0;
}

#list_04 .img_box img {
    width: 584px;
    height: 800px;
}

#list_04 .left_04 {
    width: 600px;
    height: 800px;
	position: relative;
	top: 50px;
    overflow: hidden;
}

.left_04 .txt_04 {
    width: 616px;
    height: 300px;
    padding-top: 80px;
    position: relative;
    right: 16px;
}

.left_04 .txt_04 p {
    font: normal 30px 'Noto Serif';
    color: black;
    margin-bottom: 15px;
    text-align: right;
}

.left_04 .txt_04 h3 {
    font: bold 80px 'Noto Serif';
    color: black;
    margin-bottom: 20px;
    text-align: right;
}

.left_04 .txt_04 a {
    display: block;
    width: 220px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font: normal 22px/60px 'Noto Serif';
    float: right;
}

.list_04{
    height: 500px;
    width: 1800px;
    display: flex;
    align-items: flex-end;
    position: relative;
    right: 1170px;
    
}
.list_04 div{
    height: 350px;
    width: 300px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    right: 20px;
}

.list_04 div img{
    position: absolute;
    height: 100%;
    left: -50%;
    bottom: 0px;
}

#list_more {
    height: 60px;
    width: 460px;
    margin: 0 auto;
    margin-top: 150px;
}

#list_more div {
    width: 460px;
    height: 60px;
    border: solid 1px #3cb1ff;
    text-align: center;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing:  border-box;
    position: relative;
    color: #3cb1ff;
	cursor: pointer;
}

#list_more div a {
    display: block;
    font: normal 18px/60px 'Noto Sans KR';
    position: absolute;
    left: 145px;

}

#list_more div::after {
    content: "";
    display: block;
    background-image: url(../img/list_more_btn.png);
    position: absolute;
    right: 100px;
    top: 25px;
    width: 41px;
    height: 10px;

}

#list_more div:hover {
    color: white;
    background-color: #3cb1ff;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#list_more div:hover::after {
    content: "";
    display: block;
    background-image: url(../img/list_more_btn_hover.png);
    position: absolute;
    right: 100px;
    top: 25px;
    width: 41px;
    height: 10px;
    -webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#list_wrap .requst:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
    color: white;
}
#list_wrap .moreworks:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
    color: white;
}


/*푸터---------------------------------------------------------*/
#ftr_wrap {
    height: 337px;
    width: 100%;
    background-color: #242424;
    margin-top: 178px;
}

#ftr_inner {
    height: 100%;
}

.ftr_top {
    height: 113px;
    width: 100%;
    color: #555555;
    border-bottom: solid 1px #333;
}

.ftr_top ul {
    height: 100%;

}

.ftr_top ul li {
    float: left;
    margin-right: 30px;
    font: normal 16px/113px 'Noto Sans KR';

}

.ftr_top ul li a:hover {
    color: white;
}

.ftr_bot {
    height: 224px;
    width: 100%;
}

.ftr_left {
    height: 100%;
    float: left;
}

.adress {
    height: 100px;
    width: 700px;
    padding-top: 25px;
}

.adress p {
    float: left;
    height: 100%;
    padding-top: 10px;
}

.ftr_left .ftr_logo {
    width: 117px;
    height: 60px;
    float: left;
    margin-right: 40px;
}

.ftr_left .ftr_logo img {
    width: 100%;
}

.plus_icon {
    height: 50px;
    width: 100%;
}

.plus_icon ul {
    height: 50px;
}

.plus_icon ul li {
    float: left;
    margin-right: 25px;
    margin-top: 50px;
}

.ftr_bot .ftr_right {
    float: right;
}

.ftr_right dl {
    width: 454px;
    height: 150px;
    margin-top: 30px;

}

.ftr_right dl dt {
    height: 100%;
    margin-right: 60px;
    float: left;
    font: bold 28px/32px 'Noto Sans KR';
    color: acacac;

}

.ftr_right dl dd {
    font: normal 14px/18px 'Noto Sans KR';
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}
